form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
  padding: 1rem;
}

label {
  display: block;
  color: var(--secondColor);
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.form-control {
  border: none;
  border-bottom: 1px solid var(--secondColor);
  outline: none;
  height: 2.3rem;
  width: 100%;
  font-size: 0.9rem;
  padding: 0 0.2rem;
}
